apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://userservice-prometheus:9090
    jsonData:
      httpMethod: GET
      manageAlerts: true
    isDefault: true
    editable: false
